<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load i18n %}
<html lang="en">
<head>
    <title>{% block title %}{% trans "WebAPP" %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">i
    {% bootstrap_stylesheet_tag %}
    <style type='text/css'>
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    {% bootstrap_javascript_tag "dropdown" %}
    {% block extra_head %}{% endblock %}
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">WebAPP</a>
            <ul class="nav">
                <li><a href='{% url home %}' class="">Home</a></li>
                <li><a href='{% url create_user %}' class="">Create User</a><li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    {% block content %}{% endblock %}
    <p><hr></p>
    <footer class="row">
        <div class="span6">
            <p>This is <a href="https://github.com/sayanchowdhury/webapp">{% trans "WebAPP" %}</a></p>
        </div>
        <div class="span6" style="text-align:right">
            <p>
                &copy; <a href="http://github.com/sayanchowdhury">Sayan Chowdhury</a> 2012
            </p>
        </div>
    </footer>

</div> <!-- container -->

</body>
</html>
