{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="span12">
            {% if error %}
            <p>{{ error }}</p>
            {% endif %}
            <form action='' method='POST'>{% csrf_token %}
                {{ form.as_p }}
                </div>
            <input type="submit" value="Create User" />
		</form>
        </div>
    </div>
{% endblock %}
