{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="well">
        <h1>WebAPP!</h1>
        <p>This is a test project to test django-recaptcha-works</p>
        <p><a class="btn btn-primary" href="https://github.com/sayanchowdhury/webapp/">
            {% trans "Learn More &raquo;" %}</a>
        </p>
    </div>

    <div class="row">
        <div class="span4">
            <h2>Django</h2>

            <p>Django is the excellent Python web framework that makes a programmer's life less repetitive.</p>

            <p><a class="btn" href="http://www.djangoproject.com">View details &raquo;</a></p>
        </div>
        <div class="span4">
            <h2>Bootstrap</h2>

            <p>Bootstrap is a beautiful CSS framework with an optional JavaScript add-on.</p>

            <p><a class="btn" href="http://twitter.github.com/bootstrap/">View details &raquo;</a></p>
        </div>
        <div class="span4">
            <h2>django-bootstrap-toolkit</h2>

            <p>Is just a simple hustle to get two kinds of awesome together.</p>

            <p><a class="btn" href="https://github.com/dyve/django-bootstrap-toolkit/">View details &raquo;</a></p>
        </div>
    </div>
{% endblock %}
